

#region-top-firt{
    background: url(../images/first.png), center;
    background-size: fill;
    padding: 10px;
    text-align: center;
    display: flex;
    height: 50vh;
    padding: auto;
}








div{
    padding-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: #003d14; */
}