/* :root{
  --main-bg-color:#6750A4;
  --body-bg-color: #B58392;
  --h1-color: #ffffff;
  --h1-shadow-color: #000000;
} */


:root{
  --main-bg-color:#003916;
  --body-bg-color: #fcfdf7;
  --h1-color: black;
  --h2-color: black;
  --h1-shadow-color: grey;
  --btn-color: #084321;
  --btn-text-color: #ffffff;
  --btn-submit-color: #1b211cf4;
  --btn-submit-text-color: #ffffff;
}



html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-attachment: fixed;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: var(--h1-color);
  text-shadow: 3px 3px 1px var(--h1-shadow-color);
}

h2 {
  font-size: 30px;
  text-align: center;
  color: var(--h2-color);
  text-shadow: 3px 3px 1px var(--h1-shadow-color);
}

html {
  background: var(--main-bg-color);
}

body {
  background: var(--body-bg-color);
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 5%;
}

img {
  display: block;
  margin: 0 auto;
}

.btn-primary {
  background-color: var(--btn-color);
  
}

button {
  color: var(--btn-color);

}


.btn-primary {
  border: none;
  color: var(--btn-text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 6px;
  cursor: pointer;
  border-radius: 30px;
  transition-duration: 0.4s;
}

.btn-primary:hover {
  background-color: #31adc6;
  color: rgb(255, 255, 255);
}

.btn-primary:active {
  background-color: #222323;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button {
  background-color: white; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition-duration: 0.4s;
}


input:focus {
  background-color: rgb(242, 242, 152);
}